<%# app/views/dashboard/_traces_volume_chart.html.erb %>
<turbo-frame id="dashboard_traces_volume_chart">
  <% if @chart_options.dig(:series, 0, :data)&.any? %>
    <div data-controller="apex-chart"
         data-apex-chart-options-value="<%= json_escape(@chart_options.to_json) %>">
    </div>
  <% else %>
    <p class="text-xs italic text-[var(--color-fg-subtle)] py-4">No traces in the last 30 days.</p>
  <% end %>
</turbo-frame>
