<%# app/views/metrics/_chart.html.erb %>
<turbo-frame id="metric_chart_<%= @metric_name.parameterize %>">
  <% if @has_data %>
    <%= render "metrics/stat_strip", chart_stats: @chart_stats, mb: "mb-3" %>
    <div class="min-h-[320px]"
         data-controller="apex-chart"
         data-apex-chart-options-value="<%= json_escape(@chart_options.to_json) %>">
    </div>
  <% else %>
    <div class="min-h-[320px] flex items-center justify-center
                text-xs italic text-[var(--color-fg-subtle)]">
      No data recorded for this metric.
    </div>
  <% end %>
</turbo-frame>
